

.title {
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: cornflowerblue;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.nav-list {
  border-bottom: 1px solid black;
  padding: 9px;
  display: flex;
  justify-content: center;
  gap: 10px;

  li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.content-container {
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  border: 3px dashed gray;
}
